$mb-primary-color: #2C3ACF;
$mb-primary-darker-color:#27319B;
$mb-error-color: #EB5757;
$mb-lightest-color: #F1F6FF;
$mb-white-color: #fff;
$mb-black-color: #000;
$mb-heading-color: #050C72;
$mb-text-color: #1D1D1D;
$mb-text-secondary-color: #717591;
$mb-border-color: #E9EBFA;
$mb-font-family: 'Airbnb Cereal App Book';
$mb-font-family-medium: 'Airbnb Cereal App Medium';