.mb-community-nodes {
  .row {
    @media (min-width: 1200px) {
      --bs-gutter-x: 30px;
    }
  }
  .mb-dashboard-banner {
    padding: 110px 0;
    margin-bottom: 65px;
    &::before {
      background-image: url(../images/community-node-banner.svg);
      mix-blend-mode: normal;
    }
  }
  .mb-cn-node {
    margin-bottom: 96px;
    .mb-cn-node-heading {
      font-family: $mb-font-family-medium;
      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 0.02em;
      color: $mb-primary-darker-color;
      margin-bottom: 32px;
    }
    .mb-cn-node-content {
      padding: 30px 30px 39px;
      background: $mb-white-color;
      border: 1px solid $mb-border-color;
      border-radius: 12px;
      text-align: center;
      p {
        font-family: $mb-font-family;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: #434c88;
        margin-bottom: 32px;
        a {
          text-decoration: underline;
          color: $mb-primary-color;
        }
      }
      .btn {
        svg {
          margin-right: 6px;
        }
      }
    }
  }
  .mb-cn-gateway {
    margin-bottom: 40px;
    .mb-cn-gateway-heading {
      font-family: $mb-font-family-medium;
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      color: $mb-heading-color;
      margin-bottom: 51px;
    }
    .mb-cn-gateway-card {
      padding: 28px 55.08px;
      background: $mb-white-color;
      border: 1px solid $mb-border-color;
      border-radius: 12px;
      &.sm {
        padding: 43px 58px 41px;
      }
      .mb-cn-gateway-label {
        font-family: $mb-font-family;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: $mb-text-secondary-color;
        margin-bottom: 16px;
      }
      .mb-cn-gateway-value {
        font-family: $mb-font-family;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: $mb-heading-color;
      }
      .mb-cn-gateway-chart-title {
        font-family: $mb-font-family-medium;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: $mb-text-secondary-color;
      }
    }
  }
  .mb-cn-zone {
    padding-bottom: 114px;
    .mb-cn-zone-heading {
      font-family: $mb-font-family-medium;
      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 0.02em;
      color: $mb-heading-color;
      margin-bottom: 8px;
    }
  }
  .mb-cn-statistics {
    .mb-cn-statistics-heading {
      font-family: $mb-font-family-medium;
      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 0.02em;
      color: $mb-heading-color;
      margin-bottom: 22px;
    }
  }
}
